{{define "contags"}}
{{template "header" .}}

<div class="main">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/repository">项目列表</a></li>
            <li class="active"><a href="/detail?it={{.repo.RepoName}}"><strong>[ {{.repo.RepoName}} ]</strong></a></li>
            <li class="active">版本列表</li>
        </ol>

        <div id="accord" class="panel-group">

            {{if .has}}
            {{$repName := .repo.RepoName}}
            {{$currTag := .currtag}}
            {{range $idx,$item := .repo.Tags}}

            <div class="panel panel-success">
                <div class="panel-heading">
                    版本： <strong>[{{$item.Name}}]</strong>
                    <a class="pull-right" data-toggle="collapse" data-parent="#accord-{{$idx}}12" href="#accord-{{$idx}}">描述 <i
                            class="glyphicon glyphicon-collapse-down"></i></a>
                    <label class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <a id="dmark-{{$idx}}" name="dmark-{{$idx}}" class="pull-right"
                       href="/tags/delete?it={{$repName}}&tag={{$item.Name}}">删除</a>
                </div>

                <div id="accord-{{$idx}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" id="descform-{{$idx}}" method="post" name="descform-{{$idx}}"
                              action="/detail?it={{$repName}}&tag={{$item.Name}}">
                            <div class="row ">
                                <div class="hidden-xs col-sm-10 list-inline">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li role="presentation"><a><span class="badge">大小:&nbsp;&nbsp;{{$item.Size}} KB</span></a></li>
                                        <li role="presentation"><a><span class="badge">下载次数:&nbsp;&nbsp;{{$item.PullCount}}</span></a></li>
                                        <li role="presentation"><a><span class="badge">上传时间:&nbsp;&nbsp;{{$item.PushTimeEX}}</span></a></li>
                                        <li role="presentation"><a><span class="badge">修改时间:&nbsp;&nbsp;{{$item.UpdatedAtEX}}</span></a></li>
                                    </ul>
                                </div>
                                <div class="hidden-xs col-sm-2 list-inline text-right">
                                    <button id="edittag-{{$idx}}" class="btn" name="edittag-{{$idx}}">
                                        <span class="hidden">{{$idx}}</span>
                                        <span class="hidden">{{$item.Name}}</span>
                                        <span class="hidden">{{$repName}}</span>
                                        <span>保存</span>
                                    </button>
                                </div>
                            </div>
                            <div class="page-header">
                                <h6></h6>
                            </div>
                            <div class="popover-content">
                                <!--<span id="content-{{$idx}}" name="content-{{$idx}}">{{$item.Description}}</span>
                                <div class="alert alert-warning " id="alert-{{$idx}}" >
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>警告！</strong> <span id="alert-info-{{$idx}}">daiyaos</span>
                                </div>
                                -->

                                <div class="editable" data-toggle="tooltip" title="单击编辑！然后保存" id="txtbody-{{$item.Name}}" name="txtbody-{{$item.Name}}">{{if $item.Description}}{{$item.Description}}{{else }}请单击输入版本描述信息！然后保存{{end}}</div>

                            </div>
                            <div class="page-header">
                                <h6></h6>
                                <a class="pull-right" data-toggle="collapse" data-parent="#accord-{{$idx}}12" href="#layer-{{$idx}}">展开IMAGE层 <i
                                        class="glyphicon glyphicon-collapse-down"></i></a>
                            </div>
                            <div id="layer-{{$idx}}" class="row panel-collapse collapse" >
                                <div class=" col-sm-2 list-group ">
                                </div>
                                <div class=" col-sm-8 list-group ">
                                    {{range $num,$layer := $item.Layers}}
                                    <a href="#" class="list-group-item truncate {{$layer.Color}}" data-toggle="tooltip" data-placement="left" title="{{$layer.CreatedBy}}">
                                        <span class="badge">{{$num}}</span><span class="badge">{{$layer.Author}}</span>{{$layer.CreatedBy}}
                                    </a>
                                    {{end}}
                                </div>
                                <div class=" col-sm-2 list-group ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {{end}}
            {{else}}
            <div class="container">
                <div class="alert alert-danger" role="alert">Error: {{.errorinfo}}</div>
            </div>
            {{end}}

            <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">删除确认</h4>
                        </div>
                        <div class="modal-body">
                            <p>是否确认删除标签？&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button id="deleteconfirm" type="button" class="btn btn-primary">确定删除</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- 对话框 -->
            <div id="savestatus" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">保存描述</h4>
                        </div>
                        <div class="modal-body">
                            <p>描述内容保存成功&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
    </div>


</div>
<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script>
    function edit(e) {
        var idx = e.data.idx
        var REPO= e.data.repo
        var TAG = e.data.tag

        $("#descform-" + idx).submit(function(e) {
            var url = "/detail?it=" + REPO + "&tag=" + TAG; // the script where you handle the form input.
            $.ajax({
                type: "POST",
                url: url,
                data: $("#descform-" + idx).serialize(), // serializes the form's elements.
                success: function (data) {
                    $('#savestatus').modal('show')
                },
                failure: function () {
                    $("#alert-"+idx).show()
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

    }

    $(document).ready(function () {

        $.each($("div[id*=txtbody]"), function (idx, s) {
            s.innerHTML=s.innerText
        })

        $.each($("button[id*=edittag]"), function (idx, btn) {
            var b = $("#" + btn.id)
            var x = b.find("span")
            b.click({idx: x[0].textContent, tag: x[1].textContent,repo:x[2].textContent}, edit)
        })

        $.each($("a[id*=dmark]"), function (idx, a) {
            var b = $("#" + a.id)
            b.click(function () {
                $('#confirm').modal('show')
                $("#deleteconfirm").click(function () {
                    //触发href连接
                    window.location.href = b.attr("href")
                });
                return false
            })
        })
        tinymce.init({
            selector: "div.editable",
            inline: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
        });

    });

</script>
{{template "footer" .}}
{{end}}
