{{define "detail"}}
{{template "header" .}}

<div class="main">

    <div class="container">
        <div class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Description</a></li>
            <li role="presentation"><a href="/detail?role=tag&it={{.name}}">Tag List</a></li>
        </div>
        <h1 class="page-header"></h1>
    </div>

    <div class="container">

        <div class="row">
            <ul class="col-xs-12 col-sm-8">
                <form role="form" id="descform" method="post" name="descform" action="/detail/save?it={{.name}}">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            <div class="row ">
                                <div class="col-xs-12 col-sm-7">Description</div>
                                <ul class="hidden-xs col-sm-5 list-inline text-right ccby-op">
                                    <button id="edit" class="btn" name="edit">Edit</button>
                                </ul>
                            </div>


                        </div>
                        <div class="panel-body ">
                            <span id="content" name="content">{{.content}}</span>
                            <textarea id="txtbody" name="txtbody" class="hidden center-block">{{.content}}</textarea>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="hidden-xs col-sm-4 ">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <div class="row ">
                            <div class="col-xs-12 col-sm-7">Pull Command</div>
                            <ul class="hidden-xs col-sm-5 list-inline text-right ccby-op">
                                <span class="btn-block">Edit</span>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        docker pull mysql
                    </div>
                </div>
            </ul>
        </div>
    </div>


</div>
<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script>
    function edit(e) {
        $("#content").hide()
        var txt = $("#edit").text()
        if (txt == "Edit") {
            $("#edit").text("Save")
            tinymce.init({
                selector: 'textarea',
                height: 500,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
            e.preventDefault()
        }

        if (txt == "Save") {
            $("descform").submit()
        }

    }
    $(document).ready(function () {
        $("#edit").click(edit)
        $("#content").html($("#content").text())
    });

</script>
{{template "footer" .}}
{{end}}
