{{define "index"}}
{{template "header" .}}

<div class="main">

    <div class="container">

        <ol class="breadcrumb">
            <li class="active"><a href="#">仓库列表</a></li>
        </ol>
        <div id="accord" class="panel-group">

            {{if .has}}
            {{range $key,$item :=.page.Data}}

            <div class="panel panel-info">
                <div class="panel-heading">
                    Group <strong>[{{$key}}]</strong>
                    <a class="pull-right" data-toggle="collapse" data-parent="#accord" href="#accord-{{$key}}">Show <i
                            class="glyphicon glyphicon-collapse-down"></i></a>
                </div>
                <div id="accord-{{$key}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                            {{range $v := $item}}
                            <tr>
                                <td class="col-md-10"><a class="center-block" href="/detail?it={{$v.RepoName}}"><span
                                        class="glyphicon glyphicon-th-list"></span> {{$v.RepoName}}</a></td>
                                <!-- <td>520 <strong>STARS</strong> </td>
                                <td>500k <strong>PULL</strong></td> -->
                                <td class="col-md-2"><a class="center-block"
                                                        href="/detail?it={{$v.RepoName}}">Detail</a></td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{$Last := $item}}
            {{end}}
            {{else}}
            <div class="container panel panel-default panel-success">
                <div class="row panel-body padded-right-middle btn-block">
                    No more results!
                </div>
            </div>
            {{end}}

        </div>
    </div>


</div>

{{template "footer" .}}
{{end}}
