{{define "tags"}}
{{template "header" .}}

<div class="main">

    <div class="container">
        <h5 class="page-header">Image标签>> <strong>{{if .has}}[{{.repo.RepoName}}]{{end}}</strong></h5>
    </div>
    {{if .has }}
    <div class="container">
            <ul class="list-group hidden-xs col-sm-3 panel-info">
                {{$repName:= .repo.RepoName}}
                {{range $item := .repo.Tags}}

                    <a class="list-group-item" href="/detail?it={{$repName}}&tag={{$item.Name}}" >
                        {{$item.Name}}
                    </a>


                {{end}}
            </ul>

            <ul class="col-xs-12 col-sm-9 ">
                <form role="form" class="col-xs-12 col-sm-10" id="descform" method="post" name="descform" action="/detail?it={{.repo.RepoName}}&tag={{.currtag.Name}}">
                    <div class="panel panel-default panel-info">
                        <div class="panel panel-heading">
                            <div class="row ">
                                <div class="col-xs-12 col-sm-10 ">标签描述 <strong>[{{.currtag.Name}}]</strong></div>
                                <div class="hidden-xs col-sm-2 list-inline text-right" >
                                    <button id="edit" class="btn" name="edit">Edit</button>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body ">
                            <span id="content" name="content">{{.currtag.Description}}</span>
                            <textarea id="txtbody" name="txtbody" class="hidden center-block">{{.currtag.Description}}</textarea>
                        </div>
                    </div>
                </form>
            </ul>
    </div>
    {{else}}
    <div class="container">
        <p><strong>{{.errorinfo}}</strong></p>
    </div>
    {{end}}

</div>
<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script>
    function edit(e) {
        $("#content").hide()
        var txt = $("#edit").text()
        if (txt == "Edit"){
            $("#edit").text("Save")
            tinymce.init({
                selector: 'textarea',
                height: 500,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
            e.preventDefault()
        }

        if (txt == "Save"){
            $("descform").submit()
        }

    }
    $(document).ready(function(){
        $("#edit").click(edit)
        $("#content").html($("#content").text())
    });

</script>
{{template "footer" .}}
{{end}}
